<div class="navbar navbar-default">
  <a class="navbar-brand" [routerLink]="['']">Angular SPA</a>
  <ul class="nav navbar-nav">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a [routerLink]="['']">Data Binding</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/about','4']">About</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/directive']">Directive</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/pipe']">Pipe</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/inheritance']">Inheritance</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/nested']">Nested</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/hooks']">Hooks</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/account']">Login</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/templatedriven']">Template Driven</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/modeldriven']">Model Driven</a>
    </li>
  </ul>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
