doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title LaLa World-Gearing towards a decentralised financial ecosystem
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7COpen+Sans" rel="stylesheet")
    link(rel="icon" type="image/x-icon" href="images/favicon.ico")
    // - End google font
    link(rel="stylesheet" type="text/css" href="css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="css/jasny-bootstrap.min.css")    
    link(rel="stylesheet" type="text/css" href="css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="css/bootstrap-grid.css")
    link(rel="stylesheet" type="text/css" href="css/magnific-popup.css")
    link(rel="stylesheet" type="text/css" href="css/swiper.css")
    link(rel="stylesheet" type="text/css" href="css/owl.carousel.min.css")
    link(rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css")
    link(rel="stylesheet" type="text/css" href="css/animate.css")
    link(rel="stylesheet" type="text/css" href="css/jarallax.css")
    link(rel="stylesheet" type="text/css" href="css/style.css")
    link(rel="stylesheet" type="text/css" href="css/responsive.css")
    style(type="text/css").
      @-webkit-keyframes show-info {0% { -webkit-transform: rotateY(120deg); }100% { -webkit-transform: rotateY(0deg); }}
      @-moz-keyframes show-info {0% { -moz-transform: rotateY(120deg); }100% { -moz-transform: rotateY(0deg); }}
      @-ms-keyframes show-info {0% { -ms-transform: rotateY(120deg); }100% { -ms-transform: rotateY(0deg); }}
      @-o-keyframes show-info {0% { -o-transform: rotateY(120deg); }100% { -o-transform: rotateY(0deg); }}
      @keyframes show-info {0% { transform: rotateY(120deg); }100% { transform: rotateY(0deg); }}
      .info {-webkit-transition: all 180ms ease-out;-moz-transition: all 180ms ease-out;-ms-transition: all 180ms ease-out;-o-transition: all 180ms ease-out; transition: all 180ms ease-out;-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-ms-transform-style: preserve-3d;-o-transform-style: preserve-3d;transform-style: preserve-3d;-webkit-transform: perspective(800);-moz-transform: perspective(800);-ms-transform: perspective(800);-o-transform: perspective(800);transform: perspective(800);font-family: 'Quantico', sans-serif;position: absolute;font-size: 12px;color: #fff;width: 100%; z-index: 1;}
      .info:hover {box-shadow: 0 0 0 4px rgba(255,255,255,0.05);opacity: 1.0;}
      canvas.sketch{    z-index: 1;position: relative;top: 0px;left: 0px;}
  body
    block content
     body.lala-wave
      #preloader
        .cube-wrapper
          .cube-folding
            span.leaf1
            span.leaf2
            span.leaf3
            span.leaf4
          span.loading(data-name="Loading") Loading
    .lala-fotter-area.block-intro--home-footer
      .wave-start1 
        svg#footer-layer1.wave-1(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 1350.75 185.1" xml:space="preserve")
          path#footer-line1(d="M1350.24083614462,1.2041807231005714C1350.24083614462,1.2041807231005714,-0.25916385537988573,1.2041807231005714,-0.25916385537988573,1.2041807231005714C-0.25916385537988573,1.2041807231005714,-0.16282939753184006,120.51244191693455,-0.16282939753184006,120.51244191693455C-0.16282939753184006,120.51244191693455,277.92946556643835,203.258333998217,545.070342687914,75.60130844079931C733.5023841590954,-6.601882897259561,972.8712179014758,25.777254464093126,1034.086796572694,42.67476066915766C1245.0254626698727,96.74563699277292,1350.2371706024683,181.36701919191222,1350.2371706024683,181.36701919191222C1350.2371706024683,181.36701919191222,1350.24083614462,1.2041807231005714,1350.24083614462,1.2041807231005714")
          defs
        svg#footer-layer2.wave-2(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 1350.75 185.1" xml:space="preserve")
          path#footer-line2(d="M1350.2194875282485,1.0974376412424012C1350.2194875282485,1.0974376412424012,-0.2805124717515198,1.0974376412424012,-0.2805124717515198,1.0974376412424012C-0.2805124717515198,1.0974376412424012,-0.19271746045212773,126.01611521754181,-0.19271746045212773,126.01611521754181C-0.19271746045212773,126.01611521754181,265.53445890106764,191.86244257903874,526.0145677145935,71.99339227399317C701.47518987837,-3.6942013474429993,937.0439699065995,22.57923173162234,1012.3436577705122,45.50473325538147C1235.1837505225494,106.58991097406081,1350.2072825395478,175.6524215615532,1350.2072825395478,175.6524215615532C1350.2072825395478,175.6524215615532,1350.2194875282485,1.0974376412424012,1350.2194875282485,1.0974376412424012")
          defs
        svg#footer-layer3.wave-3(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 1350.75 185.1" xml:space="preserve")
          path#footer-line3(d="M1350,0C1350,0,-0.002290055058331575,0,-0.002290055058331575,0C-0.002290055058331575,0,-0.002290055058331575,166.42442678939577,-0.002290055058331575,166.42442678939577C-0.002290055058331575,166.42442678939577,125.22311865591718,140.09464273452676,354.1780820678361,77.59906924518667C433.10840539321885,51.94477818667926,557.4704507344057,38.70948131572925,730.719502250392,104.14809115622496C1027.8407215690268,212.49494505556277,1349.9024885497247,133.07557321060423,1349.9024885497247,133.07557321060423C1349.9024885497247,133.07557321060423,1350,0,1350,0")
          defs
        svg#footer-layer4.wave-4(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 1350.75 185.1" xml:space="preserve")
          path#footer-line4(d="M1350,0C1350,0,0.030014456423697933,0,0.030014456423697933,0C0.030014456423697933,0,0.030014456423697933,165.37453016622982,0.030014456423697933,165.37453016622982C0.030014456423697933,165.37453016622982,131.52702102652043,142.39197806857126,362.88059441598,78.42331885565065C445.93248883879744,51.277851547132755,569.5956260740708,39.31632156391917,739.9309721769353,103.46969641510235C1033.9315756864062,210.203424533585,1349.902650072282,134.12546983377018,1349.902650072282,134.12546983377018C1349.902650072282,134.12546983377018,1350,0,1350,0")
          defs 
      .container
        .lala-fotter-top
          .row
            .col-md-12.col-sm-12.col-xs-12 
              .wellcome-text.w-ab
                .well-text.text-center
                  .col-lg-12.text-center
                    .whiline.navy-line
                    h2.newh1.whi Welcome To LALA WORLD
                  .subs-feilds.more-field
                    form#subscribe-form-1(name='subscribeForm', role='form', action='/subscribe', method='post')
                      .input-more
                        input#email.email.form-control.width-80(type='text', name='EMAIL', placeholder='Email')
                        .text-msg
                        input(type='hidden', value='Subscribe', name='member[subscribe]')
                        button#sus_submit.add-btn.width-20(type='submit') Subscribe
                        #msg_Submit.h3.text-center.hidden
              .svgp
                svg(viewbox='0 0 672 672')
                  circle.planePath01(cx='336.3', cy='336.2', r='286.3')
                  path#planePath.planePath(d='M336.3,623c-76.6,0-148.6-29.8-202.8-84c-54.2-54.2-84-126.2-84-202.8s29.8-148.6,84-202.8\
                  c54.2-54.2,126.2-84,202.8-84s148.6,29.8,202.8,84c54.2,54.2,84,126.2,84,202.8s-29.8,148.6-84,202.8C485,593.1,413,623,336.3,623z\
                  ')
                  path#plane.plane(d='M25.2-5.8C21.1-6,15.4-5.6,9.3-5.4l-5-9.4h2.2c0.8,0,1.5-0.7,1.5-1.5c0-0.8-0.7-1.5-1.5-1.5H2.7l-2-4h2.2\
                  c0.8,0,1.5-0.7,1.5-1.5c0-0.8-0.7-1.5-1.5-1.5h-3.7l-4.7-9h-4.7l5,20v8.7c-6,0.2-11.3,0.4-15.1,0.4c-2.4,0-5.2,0.4-7.9,1l-8.1-11.1\
                  h-2.1l3.6,13c-1.4,0.6-2.3,1.2-2.3,1.7c0,0.5,0.9,1.3,2.3,1.9l-3.6,13.4h2.1l8.2-11.5c2.7,0.5,5.5,0.8,7.8,0.8\
                  c3.8,0,9.1,0.1,15.1,0.3v8.8l-5,20.6h4.7l4.7-9h3.7c0.8,0,1.5-0.7,1.5-1.5c0-0.8-0.7-1.5-1.5-1.5H0.7l2-4h3.8\
                  c0.8,0,1.5-0.7,1.5-1.5c0-0.8-0.7-1.5-1.5-1.5H4.3l5-9.8c6.1,0.2,11.8,0.2,15.9,0c11.7-0.6,13.3-4.7,13.3-5.6\
                  C38.5-1.1,36.9-5.2,25.2-5.8z')
                  animatemotion(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#plane', dur='20s', repeatcount='indefinite', rotate='auto')
                    mpath(xlink:href='#planePath')

          .lala-fotter-title
            // <i class="fa fa-refresh" aria-hidden="true"></i>
            //h2 
          //.lala-subscribe.clearfix
            form#mc-form(name='subscribeForm', role='form', action='/subscribe', method='post')
              i.fa.fa-envelope(aria-hidden="true")
              input#mc-email.mc-email(placeholder="Enter your email address..." required="required" name="EMAIL" type="email")
              input.submit-btn(value="SUBSCRIBE NOW" type="submit")
              label(for="mc-email")
        .row
          .col-md-3.col-sm-6
            .widget.widget-text  
              h6
                img.logo-gap(src="images/footer-logo.png" alt="")
                | Lala World
              p
                | Our Vision is to reach a global audience of 100 Million by 2020 and presence in at least 50 countries.
          .col-md-3.offset-md-1.col-sm-6
            .widget.widget-listing
              h6 Resources
              ul.list-unstyled
                li
                  a(href="mailto:care@lalaworld.io") Contact Us 
                li
                  a(href="/#about") About
          .col-md-3.col-sm-6
            .widget.widget-listing
              h6 Legal
              ul.list-unstyled
                li
                  a(href="/privacy-policy") Privacy Policy
                li
                  a(href="/terms-of-use") Terms of Use 
                //li
                  a(href="#") FAQ 
          .col-md-2.col-sm-6
            .widget.widget-listing 
              h6 Company
              ul.list-unstyled
                li
                  a(href="/careers") Careers
                li
                  a(href="/media") Media      
        .lala-fotter-item
          .row
            .col-lg-12.col-md-12  
              .fotter-social-icon
                ul
                  li.clearfix 
                    a(href='https://twitter.com/MyLaLaWorld' target='_blank')
                      span.fa.fa-twitter  
                  li
                    a(href='https://www.facebook.com/MyLaLaWorld' target='_blank')
                      span.fa.fa-facebook  
                  li
                    a(href="https://www.linkedin.com/in/MyLaLaWorld/" target="_blank")
                      span.fa.fa-linkedin
                  li
                    a(href="https://t.me/LaLaWorld" target="_blank")
                      span.fa.fa-telegram
                  li
                    a(href="https://www.reddit.com/r/LaLa_World/" target="_blank")
                      span.fa.fa-reddit
                  li
                    a(href="https://medium.com/lala-world#" target="_blank")
                      span.fa.fa-medium
                  li
                    a(href="http://bit.ly/2yiWRE4" target="_blank")
                      i.fa.fa-slack
                  li
                    a(href="https://goo.gl/WZxxUH" target="_blank")
                      span.fa.fa-youtube 
                  li
                    a(href="https://open.kakao.com/o/gG1FO5C" target="_blank")
                      .social-icon
                        img(src="images/kakao-white.png" alt="")
            .col-lg-12.col-md-12.text-center
              .fotter-logo
                // <a href="/"><img src="images/logo.png" class="logo-img" alt="Shangari Global logo"></a>
                // <p>All Right Reserved by <a href="/">Shangari</a> Copyright &copy; 2018</p>
                p
                  | Copyright © 2018. 
                  a(href="/") LALA WORLD PTE LTD
                  |  All Rights Reserved.            
              //
                <div class="app-download">
                <h2>DOWNLOAD APP NOW</h2>
                <a class="google-play fotter" href="#"><img src="images/download-google-btn.png" alt=""></a>
                <a class="app-store fotter" href="#"><img src="images/download-app-btn.png" alt=""></a>
                </div>
      // End container
    // End lala-fotter-area       
    script(src="js/jquery-3.1.1.min.js")
    script(src="js/swiper.min.js")
    script(src="js/ajaxchimp.min.js") 
    script(src="js/wow.min.js")
    script(src="js/bootstrap.bundle.min.js")
    script(src="js/jquery.magnific-popup.min.js")
    script(src="js/owl.carousel.min.js")
    script(src="js/jarallax.min.js")
    script(src="js/jarallax-element.min.js")
    script(src="js/snap-svg.min.js")
    script(src="js/waves.min.js")
    script(src="js/jasny-bootstrap.min.js")
    //script(src="js/accordion.js") 
    script(src="js/anime.min.js") 
    script(src="js/main.js")
    script(src="js/validation.js")
    script(type="text/javascript"). 
      anime.timeline({loop: true})
      .add({
      targets: '.ml15 .word',
      scale: [14,1],
      opacity: [0,1],
      easing: "easeOutCirc",
      duration: 800,
      delay: function(el, i) {
      return 800 * i;
      }
      }).add({
      targets: '.ml15',
      opacity: 0,
      duration: 1000,
      easing: "easeOutExpo",
      delay: 1000
      });
      //client-slider Start
      $("#client-slider").owlCarousel({
      loop: true, 
      items: 6,
      autoplay: true,
      margin: 30,
      dots: false,
      nav: true,
      navText: ["<span class='fa fa-chevron-left'></span>", "<span class='fa fa-chevron-right'></span>"],
      autoPlay: 100,
      responsiveClass: true,
      responsive: {
      0: {
      items: 2
      },
      480: {
      items: 3
      },
      600: {
      items: 4
      },
      1000: {
      items: 6
      }
      }
      });
      //top slider Start
      $("#top-slider").owlCarousel({
      loop: true,
      items: 6,
      autoplay: true,
      margin: 30,
      dots: false,
      nav: true,
      navText: ["<span class='fa fa-chevron-left'></span>", "<span class='fa fa-chevron-right'></span>"],
      autoPlay: 100,
      responsiveClass: true,
      responsive: {
      0: {
      items: 2
      },
      480: {
      items: 3
      },
      600: {
      items: 4
      },
      1000: {
      items: 6
      }
      }
      });
      function Particle( x, y, radius ) {
      this.init( x, y, radius );
      }
      Particle.prototype = {
      init: function( x, y, radius ) {
      this.alive = true;
      this.radius = radius || 10;
      this.wander = 0.15;
      this.theta = random( TWO_PI );
      this.drag = 0.92;
      this.color = '#fff';
      this.x = x || 0.0;
      this.y = y || 0.0;
      this.vx = 0.0;
      this.vy = 0.0;
      },
      move: function() {
      this.x += this.vx;
      this.y += this.vy;
      this.vx *= this.drag;
      this.vy *= this.drag;
      this.theta += random( -0.5, 0.5 ) * this.wander;
      this.vx += sin( this.theta ) * 0.1;
      this.vy += cos( this.theta ) * 0.1;
      this.radius *= 0.96;
      this.alive = this.radius > 0.5;
      },
      draw: function( ctx ) {
      ctx.beginPath();
      ctx.arc( this.x, this.y, this.radius, 0, TWO_PI );
      ctx.fillStyle = this.color;
      ctx.fill();
      }
      };
      // ----------------------------------------
      // Example
      // ----------------------------------------
      var MAX_PARTICLES = 280;
      var COLOURS = [ '#59add2', '#2b749c', '#308bbc', '#30b5c4', '#88badd', '#3c91b2', '#3194bb' ];
      //var COLOURS = [ '#69D2E7', '#A7DBD8', '#69D2E7', '#0FA5B2', '#0AA6AB', '#1BC4BE', '#0DA8AD' ];
      var particles = [];
      var pool = [];
      var demo = Sketch.create({
      container: document.getElementById( 'container' ),
      retina: 'auto'
      });
      demo.setup = function() {
      // Set off some initial particles.
      var i, x, y;
      for ( i = 0; i < 20; i++ ) {
      x = ( demo.width * 0.5 ) + random( -100, 100 );
      y = ( demo.height * 0.5 ) + random( -100, 100 );
      demo.spawn( x, y );
      }
      };
      demo.spawn = function( x, y ) {
      var particle, theta, force;
      if ( particles.length >= MAX_PARTICLES )
      pool.push( particles.shift() );
      particle = pool.length ? pool.pop() : new Particle();
      particle.init( x, y, random( 5, 40 ) );
      particle.wander = random( 0.5, 2.0 );
      particle.color = random( COLOURS );
      particle.drag = random( 0.9, 0.99 );
      theta = random( TWO_PI );
      force = random( 2, 8 );
      particle.vx = sin( theta ) * force;
      particle.vy = cos( theta ) * force;
      particles.push( particle );
      };
      demo.update = function() {
      var i, particle;
      for ( i = particles.length - 1; i >= 0; i-- ) {
      particle = particles[i];
      if ( particle.alive ) particle.move();
      else pool.push( particles.splice( i, 1 )[0] );
      }
      };
      demo.draw = function() {
      demo.globalCompositeOperation  = 'lighter';
      for ( var i = particles.length - 1; i >= 0; i-- ) {
      particles[i].draw( demo );
      }
      };
      demo.mousemove = function() {
      var particle, theta, force, touch, max, i, j, n;
      for ( i = 0, n = demo.touches.length; i < n; i++ ) {
      touch = demo.touches[i], max = random( 1, 4 );
      for ( j = 0; j < max; j++ ) {
      demo.spawn( touch.x, touch.y );
      }
      }
      };
    // End ALL JS
    
