extends layout

block content 
 html
  body
    .inner-header-area    
      .container 
        .row
          .col-lg-6.col-md-5
            .lala-header-logo
              a(href="/")
                img.logo-img(src="images/logo.png" alt="Lalaworld-logo") 
          .col-lg-6.col-md-7
            .menu-toggle.fa
              //i.fa.fa-bars(aria-hidden="true") 
            .lala-header-menu 
              ul
                li
                  a(href="/#about") about
                li
                  a(href="/#lala-feture") services
                li
                  a(href="/#team") team 
                li
                  a(href="/media") media
                li
                  a(href="#") faq
                li
                  a(href="/exchangelisting") exchanges  
                li
                  a(href="https://blog.lalaworld.io/" target="_blank") blog
                // <li><a href="#lala-contact">contact</a></li>
        // End row
      // End container
    // End lala-header-area
    //#wrapperLALA.row.social-side 
     .col-sm-12
       ul.list-unstyled1
         li.clearfix
           a(target='_blank' href='https://www.facebook.com/MyLaLaWorld')
             .social-icon1
               i.fa.fa-facebook.icon-padd
               span#facebook.count 54,915
         li.clearfix
           a(target='_blank' href='https://twitter.com/MyLaLaWorld')
             .social-icon1
               i.fa.fa-twitter.icon-padd
               span#twitter.count 9,506
         li.clearfix
           a.item.telegram(target='_blank' href='https://t.me/LaLaWorld')
             .social-icon1
               i.fa.fa-telegram.icon-padd
               span.tele.count 7,916 
         li.clearfix
           a.item.linkedin(target='_blank' href='https://www.linkedin.com/in/MyLaLaWorld/')
             .social-icon1
               i.fa.fa-linkedin.icon-padd
               span#link.count 3,119
         li.clearfix
           a.item.medium(target='_blank' href='https://medium.com/lala-world')
             .social-icon1
               i.fa.fa-medium.icon-padd
               span#medium.count 186 
    #top-header(style='background-image: url(images/privacy-policy-banner.png)') 
      .banner-content
        h1 Terms of Use
        .banner-description Terms of Use is important to us.
    #term_con
      .container
        .row
          //.col-md-12 
            //.lala-heding-title
              //h2 Privacy Policy
              .clear-fix
          .col-sm-12
            p
              | PLEASE READ THESE TERMS OF USE CAREFULLY. YOU AGREE TO BE BOUND BY THESE TERMS OF USE AND ALL TERMS INCORPORATED BY REFERENCE.
            h3 Scope.   
            p
              | These are the Terms of Use of LALA WORLD PTE LTD, which is referred to in these Terms as “LALA World”, “we” or “us”. These Terms apply to any access and use of our website at 
              a(href='https://lalaworld.io/') https://lalaworld.io
              | , our online services, our Android and iOS mobile apps, and any of our services related to or utilizing any of the foregoing, which we refer to in these Terms, collectively, as our Services.
            h3 Eligibility and Agreement. 
            p
              | If you use our Services, these Terms apply. If you do not agree to these Terms, you must not use our Services. You can use our Services only if you can lawfully enter into an agreement to these Terms under applicable law. If you use our Services, you agree to do so in compliance with these Terms and with applicable laws and regulations
         
            h3 Our Privacy Policy. 
            p
              | Our Privacy Policy is located at 
              a(href='https://lalaworld.io/privacy-policy') https://lalaworld.io/privacy-policy/
              | . Our Privacy Policy describes how we collect, use, and share your personal information.
            
            h3 Changes to These Terms.
            p
              | We may make changes to these Terms, including when there are changes in our Services, technology, regulation and for other reasons. If we do, we will provide you notice of such changes by posting the updated Terms on our website and changing the “Last Updated” date above. Any amended Terms will become effective no earlier than 5 days after they are posted and apply prospectively to use of the Services after such changes become effective, except that changes addressing new functions of the LALA World Services or changes made for legal reasons will be effective immediately. Your continued use of the Services following the effective date of such changes will constitute your acceptance of such changes. If you do not agree to any amended Terms, you must discontinue using the Services.
            p
            p
            h3 The LALA World Services 
            p
              | LALA World provides a way to store, use, and manage bitcoins, using our wallet service, which we call LALA Wallet. Our Services may evolve over time. This means we may make changes, replace, or discontinue (temporarily or permanently) our Services at any time for any reason with or without notice. In this case, you may be prevented from accessing or using our Services. If, in our sole discretion, we decide to permanently discontinue our Services, we will provide you with notice via our website.
            p
            p
            h3 Bitcoin Transactions 
            p
              | While LALA World cannot and does not guarantee the value of bitcoins you may choose to protect the value of your bitcoin in any supported fiat currency of your choice or simply hold your bitcoins unprotected against any fiat currency value. In the case that you choose to hold unprotected bitcoins you acknowledge and agree that the value of bitcoins is highly volatile and that buying, selling, and holding bitcoins involves a high risk. Additionally, the bitcoin blockchain is solely responsible for verifying and confirming proposed transactions that you submit via the Services, and LALA World cannot and does not confirm, cancel, or reverse bitcoin-to-bitcoin transactions, other than confirmation of the bitcoin network’s completion of a transaction. The bitcoin network is operated by a decentralized network of independent third parties. Once a transaction request has been submitted to the bitcoin network via the Services, the bitcoin network will automatically complete or reject the request and you will not be able to cancel or otherwise modify your transaction request. You acknowledge and agree that LALA World is not responsible for any errors or omissions that you make in connection with any bitcoin transaction initiated via the Services. The Services help you submit your bitcoin transaction request for confirmation to the bitcoin network. However, LALA World has no control over the bitcoin network and therefore cannot and does not ensure that any transaction request you submit via the Services will be completed. You acknowledge and agree that the transaction requests you submit via the Services may not be completed, or may be substantially delayed, by the bitcoin network. When you complete a transaction request via the Services, you authorize us to submit your transaction request to the bitcoin network in accordance with the instructions you provide via the Services.
              When sending bitcoin whose value is protected as fiat currency your LALA World Wallet converts the protected fiat value back to the equivalent bitcoin value which is then sent to the recipient per above. For any such transaction request, the associated costs (“Network Fee”) for transacting on the bitcoin network may be deducted from the requested transfer amount, in which case the cost would be specified in advance via the LALA World App. Upon receipt of the bitcoin the recipient may choose to protect their bitcoin in any supported fiat currency.
            p
            p
            h3 Refunds; Reversals 
            p
              | Once a transaction has been initiated, it cannot be reversed. Purchases using a bank account, debit card, or credit card may be reversed or may be subject to a chargeback or related claim. All payment transactions processed through the Services are non-refundable. You may have additional refund or charge-back rights under your agreement with the recipient of such funds, your bank, or applicable law. You should periodically review statements from your bank, which should reflect all applicable payment transactions made using that payment method. You can also always access the record of your transactions by logging into your LALA World App.
            p
            p
            h3 Wallet Address and Private Key 
            p
              | When you create an account, the Services generate and store a cryptographic private and public key pair that you may use to send and receive bitcoins via the bitcoin network. The public key generated by the Services serves as your bitcoin wallet address, and is stored along with your phone number on the LALA World Service in order to identify you the network of LALA World users. The private key uniquely matches the wallet address and must be used in connection with the wallet address to authorize the transfer of bitcoins from or to that wallet address. The private key is stored directly in the LALA World Wallet app your phone. LALA World has no access to your private key and may not, under any circumstance, initiate a transaction using your private key on your behalf.
            p
            p
            h3 Ownership of Intellectual Property Rights.
            p  
              | We retain all right, title, and interest (including all copyright, trademark, patent, trade secrets, and all other intellectual property rights) in our Services and all content on our Services, including our trademarks, service marks, designs, logos, URLs, and trade names that are displayed on our Service, which we refer to in these Terms, collectively, as the LALA World Materials. We hereby grant you a limited, nonexclusive, and non-sub licensable license to access and use the LALA World Materials for your personal or internal business use. Such license is subject to these Terms and does not permit any resale of the LALA World Materials; the distribution, public performance or public display of any LALA World Materials; modifying or otherwise making any derivative uses of the LALA World Materials, or any portion thereof; or any use of the LALA World Materials other than for their intended purposes. The license granted under this Section will automatically terminate if we suspend or terminate your access to the Services. We will own exclusive rights, including all intellectual property rights, to any feedback, suggestions, ideas or other information or materials regarding LALA World or our Services that you provide, whether by email, posting through our Services or otherwise, which we refer to in these Terms as Feedback. Any Feedback you submit is non-confidential and will become the sole property of LALA World. We will be entitled to the unrestricted use and dissemination of such Feedback for any purpose, commercial or otherwise, without acknowledgment or compensation to you. You may not use, copy or retransmit anything on our website without our permission. We reserve all rights not expressly granted herein.
            p
            p
            h3 Using SMS/Text.
            p
              | To use the LALA World Services, you must provide a valid mobile phone number. This number is used as part of the authentication process. As part of using the LALA World Services, you are agreeing to receive SMS/text messages from us. Please note that while we do not charge you for SMS/text messages, your mobile carrier’s standard messaging rates will apply. Failure to provide a valid mobile phone number may result in restriction of your use of the LALA World Services.
            p
            p
            h3 Prohibited Activities.
            p
              | You agree that you will not use the LALA World Services to perform any type of illegal activity of any sort or to take any action that negatively affects the performances of the LALA World Services. You may not engage in any of the following activities via the Services, nor may you help a third party in any such activity: (1) attempt to gain unauthorized access to our Services or another user’s account, (2) make any attempt to bypass or circumvent any security features, (3) violate any law, statute, ordinance, or regulation, (4) reproduce, duplicate, copy, sell or resell our Services for any purpose except as authorized in these Terms, (5) engage in any activity that is abusive or interferes with or disrupts our Services. If you are blocked by LALA World from accessing the LALA World Services (including by blocking your IP address), you agree not to implement any measures to circumvent such blocking (e.g., by masking your IP address or using a proxy IP address). Use of our Services in connection with any transaction involving illegal products or services is prohibited. LALA World reserves the right to temporarily or permanently suspend your account or otherwise restrict your use of the LALA World Services if any violation of this section occurs.
            p
            p
            h3 Investigations.
            p
              | LALA World reserves the right to investigate suspected violations of these Terms of Use, including without limitation any violation arising from any submission, posting or e-mails you make or send to any Forum. LALA World may seek to gather information from the user who is suspected of violating these Terms of Use, and from any other user. LALA World may suspend any users whose conduct or postings are under investigation and may remove such material from its servers as it deems appropriate and without notice. If LALA World believes, in its sole discretion, that a violation of these Terms of Use has occurred, it may edit or modify any submission, posting or e-mails, remove the material permanently, cancel postings, warn users, suspend users and passwords, terminate accounts or take other corrective action it deems appropriate. LALA World will fully co-operate with any law enforcement authorities or court order requesting or directing LALA World to disclose the identity of anyone posting any e-mails, or publishing or otherwise making available any materials that are believed to violate these Terms of Use.
            p
            p
            h3 Trademarks. 
            p
              | LALA World and the LALA World logo are our trademarks, registered trademarks or service marks. Any other trademarks mentioned in our website or mobile apps are the property of their respective owners.
            p
            p
            h3 Disclaimer of Warranties. 
            p 
              | OUR SERVICES ARE PROVIDED “AS IS” WITH NO WARRANTY OF ANY KIND. Your use of our Services is at your sole risk. We and our licensors, service providers or subcontractors (if any) make no representations or warranties about the suitability of the information, software, products and services contained in our Services for any purpose or their compliance with any accounting rules, principles or laws, and expressly disclaim any representation or warranty that the Services will be free from errors, viruses or other harmful components, that communications to or from the Services will be secure and not intercepted, that the services and other capabilities offered from the Services will be uninterrupted, or that their content will be accurate, complete or timely. EXCEPT AS EXPRESSLY STATED IN THESE TERMS, WE DISCLAIM ALL WARRANTIES AND CONDITIONS, EXPRESS, IMPLIED, OR STATUTORY, INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY, AND FITNESS FOR A PARTICULAR PURPOSE. YOU ACKNOWLEDGE THAT YOU HAVE NOT ENTERED INTO THIS AGREEMENT IN RELIANCE UPON ANY WARRANTY OR REPRESENTATION EXCEPT THOSE SPECIFICALLY SET FORTH IN THESE TERMS. Some jurisdictions do not allow the disclaimer of implied terms in contracts with consumers, so some or all of the disclaimers in this section may not apply to you.
            p
            p
            h3 No Advice 
            p
              | LALA World is not acting and cannot act as an advisor, including as to any financial, legal, investment, insurance and/or tax matters. Any information provided by LALA World is for general information only. You are solely responsible for determining whether any contemplated transaction is appropriate for you.
            p
            p
            h3 Indemnification.
            p
              | You agree to indemnify, defend and hold us, our employees, agents, consultants, subsidiaries, partners, affiliates, and licensors, harmless against any and all claims, costs, losses, damages, liabilities, judgments and expenses (including reasonable fees of attorneys and other professionals) arising from or in any way related to your use of our Services, your violation of these Terms, or your violation of any rights of any other person or entity.
            p
            p
            h3 Limitation of Liability.
            p
              | IN NO EVENT WILL WE, OUR LICENSORS, SERVICE PROVIDERS OR SUBCONTRACTORS (IF ANY) BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE OR CONSEQUENTIAL DAMAGES (INCLUDING, WITHOUT LIMITATION, LOST PROFITS, LOSS OF USE, LOSS OF DATA OR LOSS OF GOODWILL), ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OF USE, OR THE PERFORMANCE OR OPERATION OF OUR SERVICES, YOUR ACCESS TO, DISPLAY OF, USE OF THE SERVICES, OR WITH DELAY OR INABILITY TO ACCESS, DISPLAY OR USE THE SERVICES, ANY COMPUTER VIRUSES, INFORMATION, SOFTWARE, LINKED SITES, PRODUCTS OR SERVICES OBTAINED THROUGH THE SERVICES, OR THE ACT OR OMISSION OF ANY BUSINESS USING OUR SERVICES OR OTHER THIRD PARTY, WHETHER SUCH LIABILITY ARISES FROM ANY CLAIM BASED UPON BREACH OF CONTRACT, BREACH OF WARRANTY, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR OTHERWISE, AND WHETHER OR NOT WE, OUR LICENSORS, SERVICE PROVIDERS OR SUBCONTRACTORS HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
              br
              | In no event will the aggregate liability of LALA World, our licensors, service providers, or subcontractors for any loss or damage that arises out of, or is connected with, any of the occurrences described above exceed, the greater of $100 or the service fees that you paid to us for the service we provide through the Services during the month during which the incident occurred. The limitation of liability reflects the allocation of risk between the parties. The limitations specified in this section will survive and apply even if any limited remedy specified in these Terms is found to have failed of its essential purpose. The limitations of liability provided in these Terms inure to the benefit of us, our licensors, service providers and subcontractors. FOR THE AVOIDANCE OF DOUBT, THE LIMITATIONS OF LIABILITY DESCRIBED IN THIS SECTION WOULD NOT LIMIT THE AMOUNTS OTHERWISE PAYABLE TO YOU BY LALA WORLD AS A RESULT OF SUCCESSFUL VAULT INSURANCE CLAIMS PAID OUT BY LALA WORLD’S INSURER AND RECEIVED BY LALA WORLD. SOME JURISDICTIONS DO NOT ALLOW CERTAIN WARRANTY DISCLAIMERS OR LIMITATIONS ON LIABILITY. ONLY DISCLAIMERS OR LIMITATIONS THAT ARE LAWFUL IN THE APPLICABLE JURISDICTION WILL APPLY TO YOU AND OUR LIABILITY WILL BE LIMITED TO THE MAXIMUM EXTENT PERMITTED BY LAW.
            p
            p
            h3 Severability. 
            p
              | If for any reason a court of competent jurisdiction finds any provision of these Terms invalid or unenforceable, that provision will be enforced to the maximum extent permissible and the other provisions of these Terms will remain in full force and effect.
            p
            p
            h3 Limitations. 
            p
              | To the extent allowed by applicable law, you agree that you will bring any claim or cause of action arising from or relating to your access or use of our Services within two years from the date on which such claim or action arose or accrued or such claim or cause of action will be irrevocably waived.
            p
            p
            h3 Unclaimed Property. 
            p
              | Under applicable law, after a specified period of inactivity by you with respect to your LALA World account, LALA World may be required to report and/or remit any bitcoins it is holding in custody for you in accordance with unclaimed property laws.
            p
            p
            h3 No Waiver. 
            p
              | Our failure to exercise or enforce any right or provision of these Terms will not constitute a waiver of that right or provision.
            p
            p
            h3 Assignment; Entire Agreement.
            p
              | LALA World may assign these Terms to its affiliate or subsidiary, or in connection with a merger, consolidation, or sale or other disposition of all or substantially all of its assets. These Terms, together with any other agreements that apply to you, constitute the entire and exclusive agreement between us and you regarding its subject matter, and supersede and replace any previous or contemporaneous written or oral contract, warranty, representation or understanding regarding its subject matter.
            p
            p
              | Contact Us.
              br
              a(href='mailto:hello@lalaworld.io') Hello@lalaworld.io


          //.col-md-4.col-xs-12
            a(href="https://www.access-sg.org/" target="_blank")
              img#img2.img-responsive.mem-stylee(src="images/u1-b.png" width="250" height="150" alt="Member Logo")
          //.col-md-4.col-xs-12
            a(href="http://csrsingapore.org/c/" target="_blank")
              img#img3.img-responsive.mem-stylee(src="https://lalaworld.io/public/skin/images/partner/sglo1.png" width="280" height="150" alt="Member Logo")
    
