<header>
<section id="hero" class="hero-section-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div id="particles-js"></div>
                <div class="headlines-wrapper">
                    <div class="mrgn-ry container">
                       <!--  <div class="col-md-3 col-xs-6 text-right">
                            <div class="price"><span class="pull-right"><img src="" id="img" width="96" class="mr-tp" alt="image"></span></div>
                        </div> -->
                        <div class="col-md-3 col-xs-9 offset-cls text-left br-right">
                            <a href="http://tokenasia.com/tokenasiaindex"><div class="price">TokenAsia Index: <span class="blink" id="token-index"> </span><br>
                            <div class="price"><span id="arrow" style="color: red">&#9660; </span><span class="blink" id="percentage"> </span> %</div>
                            </div></a>
                        </div>
                        <div class="col-md-3 col-xs-6 mg_more text-right cl">
                            <div class="price">BTC: $<span class="blink" id="bit"></span><br>
                            ETH: $<span class="blink" id="eth"></span></div>
                        </div>
                        <div class="col-md-3 col-xs-6 mg_more text-right">
                            <div class="price">Ripple: $<span class="blink" id="rip"></span><br>
                            Litecoin: $<span class="blink" id="lite"></span><br><div class="price mob_view">Dash: $<span class="blink" id="dash_mob"></span></div></div>
                        </div>
                        <div class="col-md-3 col-xs-6 mg_more text-right">
                            <div class="price mt-s">BTC Cash: $<span class="blink" id="bit-cash"></span>
                            <br><div class="price web_view">Dash: $<span class="blink" id="dash_web"></span></div></div>
                        </div>
                    </div><div class="h10"></div>
                    <span class="skilltechtypetext">
                        <span class="typed-cursor">|</span>
                    </span>
                </div>
                <h3 class="first-headline"><span>Blockchain | </span><span>Consultancy | </span><span>Development</span></h3>
                <!-- <h3 class="second-headline">on Blockchain and successfully raise funding via <span class="primary">ICO Crowdsale</span>.</h3> -->
                <div class="layouts-newsletter mob_view">
                   <form action="#" method="post">
                    <input type="email" name="email" required="" placeholder="Email">
                    <div class="subsc-w3l">
                        <input  type="submit" value="Subscribe">
                    </div>
                    <div class="clear"></div>
                </form>
            </div>
            </div>
        </div>
    </div>
</section>
</header>
<section id="why-us" class="image-section">
 <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="wow fadeInLeft animated"><span>WHY</span> CHOOSE US?</h3>
              <!--  <h4 class="wow fadeInLeft animated">Simply because we are the best at what we do</h4> -->
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 text-center clr-whi mg4">
                <!-- <div class="col-md-3">
                <img src="assets/images/icons/network.svg" alt="Team">
                <h5>In-House Team</h5>
                    <p>Fully In-House team from Marketing to Legal to Technical Development with minimal risk of third party dependency</p>
                </div> -->
                <div class="col-md-4">
                <img src="assets/images/icons/advertising.svg" alt="Team">
                <h5>Global Presence</h5>
                    <p>Offices in Singapore, Malaysia, UAE, India and outside of Asia, serving clients across multiple global geographies</p>
                </div>
                <div class="col-md-4">
                <img src="assets/images/icons/experiment-results.svg" alt="Team">
                <h5>Experience</h5>
                    <p>A team with 17 years of experience in investment advisory, banking and highly skilled Blockchain professionals</p>
                </div>
                <div class="col-md-4">
                <img src="assets/images/icons/line-chart.svg" alt="Team">
                <h5>Consultancy & Advisory Ecosystem</h5>
                    <p>Get introductions to top advisors<br> and access to a big pool of<br> Family Office and VC funding</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 text-center">
                 <a routerLink="/form" routerLinkActive="active"><button class="btn btn-default btn-lg wow fadeInRight hvr-sweep-to-right primary-2-back animated">Start my Tokensale now</button> </a>
            </div>
        </div>
    </div>
</section>
<!-- For Web -->
<section id="what_offer" class="features our-work-section web_view">
   <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 see-work">
                <h3 class="wow fadeInLeft animated"><span>WHAT</span> WE OFFER</h3>
            </div>
            <div class="col-md-12 new-style">
                <p class="wow fadeInLeft animated">Offering services exceeding expectations</p>
            </div>
            <div class="col-md-12 portfolio-images">
                <div class="col-md-3 col-sm-6 col-xs-6 market">
                    <div class="portfolio-img first">
                        <img class="img-responsive" src="assets/images/portfolio-thumbnail-01-dark.jpg"
                             alt="porftofilio thumbnail">
                        <div class="sweep-left image-gradient"></div>
                        <div class="sweep-from-center">
                            <div class="sweep-layer">
                                <div class="sweep-content">
                                    <div class="sweep-icon">
                                        <a class="">
                                            <i class="fa fa-eye primary-3" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <h3><a>MARKETING</a></h3>
                                    <p>Good to have a great product, but can you sell it?</p>
                                </div>
                            </div>
                        </div>
                        <div class="sweep-right image-gradient"></div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-6 services">
                    <div class="portfolio-img second">
                        <img class="img-responsive" src="assets/images/portfolio-thumbnail-02-dark.jpg"
                             alt="porftofilio thumbnail">
                        <div class="sweep-left image-gradient"></div>
                        <div class="sweep-from-center">
                            <div class="sweep-layer">
                                <div class="sweep-content">
                                    <div class="sweep-icon">
                                        <a class="">
                                            <i class="fa fa-eye primary-3" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <h3><a>CONSULTANCY SERVICES</a></h3>
                                    <p>Services par excellence in Blockchain & Legal</p>
                                </div>
                            </div>
                        </div>
                        <div class="sweep-right image-gradient"></div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-6 inves">
                    <div class="portfolio-img third">
                        <img class="img-responsive" src="assets/images/portfolio-thumbnail-03-dark.jpg"
                             alt="porftofilio thumbnail">
                        <div class="sweep-left image-gradient"></div>
                        <div class="sweep-from-center">
                            <div class="sweep-layer">
                                <div class="sweep-content">
                                    <div class="sweep-icon">
                                        <a class="">
                                            <i class="fa fa-eye primary-3" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <h3><a>INVESTOR RELATIONS & PARTNERSHIPS</a></h3>
                                    <p>Funding is the goal and we help you achieve it</p>
                                </div>
                            </div>
                        </div>
                        <div class="sweep-right image-gradient"></div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-6 tech">
                    <div class="portfolio-img fourth">
                        <img class="img-responsive" src="assets/images/portfolio-thumbnail-04-dark.jpg"
                             alt="porftofilio thumbnail">
                        <div class="sweep-left image-gradient"></div>
                        <div class="sweep-from-center">
                            <div class="sweep-layer">
                                <div class="sweep-content">
                                    <div class="sweep-icon">
                                        <a class="">
                                            <i class="fa fa-eye primary-3" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <h3><a>TECHNOLOGY SOLUTIONS</a></h3>
                                    <p>Teams of technical experts in Blockchain, Web and App development</p>
                                </div>
                            </div>
                        </div>
                        <div class="sweep-right image-gradient"></div>
                    </div>
                </div>

            </div>
        </div>
       
    </div>
<div class="container-fluid new-bg">    
    <div class="container">
         <div class="row">
            <div class="col-lg-12">
                <div class="col-md-12">
                    <div class="portfolio-text marketcontent">
                        <div class="col-md-3">
                            <h3>Paid Per Click</h3>
                               <ul>
                                   <li>Google AdWords, Facebook & Instagram Ads</li>
                                   <li>Average CR: 2.2% – 2.8%</li>
                                   <li>Other SEM – Naver, Bing, Yahoo, Yandex</li>
                               </ul>
                        </div>
                        <div class="col-md-3">
                            <h3>Newsletters & Blogs</h3>
                               <ul>
                                   <li>Weekly newsletters to mailing lists consisting of over 50k targeted email IDs </li>
                                   <li> Weekly blog posts with updates</li>
                                  
                               </ul>
                        </div>
                        <div class="col-md-3">
                            <h3>Social Media Marketing</h3>
                               <ul>
                                   <li>Placement of posts in major Telegram community groups and other tokensale specific mediums</li>
                                   <li>Coverage: ~100,000+ </li>
                                
                               </ul>
                        </div>
                        <div class="col-md-3">
                            <h3>Bounty Campaigns</h3>
                               <ul>
                                   <li>Fully covered bounty campaigns with high ratings from established agencies </li>
                                   <li>200+ shares per post*</li>
                                   <li>100+ pages of real active discussions*</li>
                               </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-3 mgl">
                            <h3>Air Drop Campaigns</h3>
                            <ul>
                                <li>Innovative campaigns with high conversion rates</li>
                                <li>Average air drop participation per drop: ~10,000+</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h3>Listings</h3>
                            <ul>
                                <li>Top-35 largest Tokensale tracking and listing sites</li>
                                <li>Average number of visits: 10,000</li>
                                <li>Whitelist applications: ~2,000*</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h3>Community Management</h3>
                            <ul>
                                <li>Dedicated community management </li>
                                <li>First line support in Telegram, Facebook, Bitcointalk, Twitter, KakaoTalk etc.</li>
                            </ul>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <!-- /.service-text -->
                      </div>
            </div>
        </div>
    </div>
</div> 
<div class="container-fluid new-bg-cons">    
    <div class="container">
         <div class="row">
            <div class="col-lg-12">
                <div class="col-md-12">
                    <div class="portfolio-text marketcontent">
                        <div class="col-md-3">
                            <h3>Legal</h3>
                               <ul>
                                   <li>Biggest legal firm in the world to provide advice on regulatory issues</li>
                                   <li>KYC & AML/CTF services to meet regulatory standards</li>
                               </ul>
                        </div>
                        <div class="col-md-3">
                            <h3>Executive Training</h3>
                               <ul>
                                   <li>Training catered for management to ensure smooth take-over of project after Tokensale </li>
                                  
                               </ul>
                        </div>
                        <div class="col-md-3">
                            <h3>Partnerships</h3>
                               <ul>
                                   <li>Access to over 50+ global partners</li>
                                   <li>Partners cherry picked and unique for different projects </li>
                                
                               </ul>
                        </div>
                        <div class="col-md-3">
                            <h3>Operations</h3>
                               <ul>
                                   <li> Specialize in oversight for entity formation and Tokensale processes in order to ensure mission, marketing, technology and philosophy aligned </li>
                               </ul>
                        </div>
                    </div>
                    <!-- /.service-text -->
                      </div>
            </div>
        </div>
    </div>
</div>  
<div class="container-fluid new-bg-inves">    
    <div class="container">
         <div class="row">
            <div class="col-lg-12">
                <div class="col-md-12">
                    <div class="portfolio-text marketcontent">
                        <div class="col-md-4">
                            <h3>Investor Meeting</h3>
                               <ul>
                                   <li>Arrangement of 1 to 1 investor meetings across Asia </li>
                                   <li>Access to 200+ individuals and fund</li>
                               </ul>
                        </div>
                        <div class="col-md-4">
                            <h3>On-board Advisors</h3>
                               <ul>
                                   <li>Prominent figures in the Financial and Token world</li>
                                   <li>Arrangement of meetings with advisors to provide consultancy services</li>                                
                                </ul>
                        </div>
                        <div class="col-md-4">
                            <h3>Global Roadshows</h3>
                               <ul>
                                   <li>Investor roadshows across Asia, UAE, NY, SF </li>
                                   <li>Family Office events as well as Blockchain related events </li>
                                
                               </ul>
                        </div>
                    </div>
                    <!-- /.service-text -->
                      </div>
            </div>
        </div>
    </div>
</div>  
<div class="container-fluid new-bg-tech">    
    <div class="container">
         <div class="row">
            <div class="col-lg-12">
                <div class="col-md-12">
                    <div class="portfolio-text marketcontent">
                        <div class="col-md-3">
                            <h3>Website</h3>
                               <ul>
                                   <li>Professional website with state-of-the-art security </li>
                                   <li>Tokensale website with KYC/AML API integration</li>
                               </ul>
                        </div>
                        <div class="col-md-3">
                            <h3>Smart Contract</h3>
                               <ul>
                                   <li>ERC20 Universal standard for simple integration with exchanges and other services</li>
                                   <li> Smart contract management system to simplify token holder’s experience after Tokensale</li>
                                  
                               </ul>
                        </div>
                        <div class="col-md-3">
                            <h3>Code Audits</h3>
                               <ul>
                                   <li>Audit smart contracts and technical code with world renowned Tokensale auditing companies</li>
                                   <li>Ensure security at the highest level </li>
                                
                               </ul>
                        </div>
                        <div class="col-md-3">
                            <h3>Air-drop & Referral Programs</h3>
                               <ul>
                                   <li>Customizable Airdrop platforms to personalized needs</li>
                                   <li>Unique referral programs to encourage participants to refer friends</li>
                               </ul>
                        </div>
                    </div>
                    <!-- /.service-text -->
                      </div>
            </div>
        </div>
    </div>
</div> 
</section>
<!-- For Mobile -->
<section id="what_offer" class="features our-work-section mob_view">
   <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 see-work">
                <h3 class="wow fadeInLeft animated"><span>WHAT</span> WE OFFER</h3>
            </div>
            <div class="col-md-12 new-style">
                <p class="wow fadeInLeft animated">Offering services exceeding expectations</p>
            </div>
            <div class="col-md-12 portfolio-images">
                <div class="col-md-3 col-sm-6 col-xs-6" data-toggle="modal" data-target="#new-bg-mob">
                    <div class="portfolio-img first">
                        <img class="img-responsive" src="assets/images/portfolio-thumbnail-01-dark.jpg"
                             alt="porftofilio thumbnail">
                        <div class="sweep-left image-gradient"></div>
                        <div class="sweep-from-center">
                            <div class="sweep-layer">
                                <div class="sweep-content">
                                    <div class="sweep-icon">
                                        <a class="">
                                            <i class="fa fa-eye primary-3" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <h3><a>MARKETING</a></h3>
                                    <p>Good to have a great product, but can you sell it?</p>
                                </div>
                            </div>
                        </div>
                        <div class="sweep-right image-gradient"></div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-6 services" data-toggle="modal" data-target="#new-bg-service">
                    <div class="portfolio-img second">
                        <img class="img-responsive" src="assets/images/portfolio-thumbnail-02-dark.jpg"
                             alt="porftofilio thumbnail">
                        <div class="sweep-left image-gradient"></div>
                        <div class="sweep-from-center">
                            <div class="sweep-layer">
                                <div class="sweep-content">
                                    <div class="sweep-icon">
                                        <a class="">
                                            <i class="fa fa-eye primary-3" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <h3><a>CONSULTANCY SERVICES</a></h3>
                                    <p>Services par excellence in legal & financial advisory</p>
                                </div>
                            </div>
                        </div>
                        <div class="sweep-right image-gradient"></div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-6" data-toggle="modal" data-target="#new-bg-inves">
                    <div class="portfolio-img third">
                        <img class="img-responsive" src="assets/images/portfolio-thumbnail-03-dark.jpg"
                             alt="porftofilio thumbnail">
                        <div class="sweep-left image-gradient"></div>
                        <div class="sweep-from-center">
                            <div class="sweep-layer">
                                <div class="sweep-content">
                                    <div class="sweep-icon">
                                        <a class="">
                                            <i class="fa fa-eye primary-3" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <h3><a>INVESTOR RELATIONS & PARTNERSHIPS</a></h3>
                                    <p>Funding is the goal and we help you achieve it</p>
                                </div>
                            </div>
                        </div>
                        <div class="sweep-right image-gradient"></div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-6" data-toggle="modal" data-target="#new-bg-tech">
                    <div class="portfolio-img fourth">
                        <img class="img-responsive" src="assets/images/portfolio-thumbnail-04-dark.jpg"
                             alt="porftofilio thumbnail">
                        <div class="sweep-left image-gradient"></div>
                        <div class="sweep-from-center">
                            <div class="sweep-layer">
                                <div class="sweep-content">
                                    <div class="sweep-icon">
                                        <a class="">
                                            <i class="fa fa-eye primary-3" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <h3><a>TECHNOLOGY SOLUTIONS</a></h3>
                                    <p>Teams of technical experts in Blockchain, Web and App development</p>
                                </div>
                            </div>
                        </div>
                        <div class="sweep-right image-gradient"></div>
                    </div>
                </div>

            </div>
        </div>
       
    </div>
  <div id="new-bg-mob" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">MARKETING</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                    <div class="portfolio-text marketcontent">
                        <div class="col-md-12">
                            <h3>Paid Per Click</h3>
                                   <p>Google AdWords, Facebook & Instagram Ads</p>
                                   <p>Average CR: 2.2% – 2.8%</p>
                                   <p>Other SEM – Naver, Bing, Yahoo, Yandex</p>
                              
                        </div>
                        <div class="col-md-12">
                            <h3>Newsletters & Blogs</h3>
                               <p>Weekly newsletters to mailing lists consisting of over 50k targeted email IDs </p>
                                <p>Weekly blog posts with updates</p>
                        </div>
                        <div class="col-md-12">
                            <h3>Social Media Marketing</h3>
                               <p>Placement of posts in major Telegram community groups and other tokensale specific mediums</p>
                                <p>Coverage: ~100,000+ </p>

                        </div>
                        <div class="col-md-12">
                            <h3>Bounty Campaigns</h3>
                               <p>Fully covered bounty campaigns with high ratings from established agencies </p>
                                <p>200+ shares per post*</p>
                                <p>100+ pages of real active discussions*</p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <h3>Air Drop Campaigns</h3>
                            <p>Innovative campaigns with high conversion rates</p>
                             <p>Average air drop participation per drop: ~10,000+</p>
                           
                        </div>
                        <div class="col-md-12">
                            <h3>Listings</h3>
                            <p>Top-35 largest Tokensale tracking and listing sites</p>
                            <p>Average number of visits: 10,000</p>
                             <p>Whitelist applications: ~2,000*</p>
                           
                        </div>
                        <div class="col-md-12">
                            <h3>Community Management</h3>
                            <p>Dedicated community management </p>
                             <p>First line support in Telegram, Facebook, Bitcointalk, Twitter, KakaoTalk etc.</p>
                        </div>
                        
                    </div>
                    <!-- /.service-text -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                   
                </div>
            </div>
        </div>
    </div>
     <div id="new-bg-service" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">CONSULTANCY SERVICES</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                    <div class="portfolio-text marketcontent">
                        <div class="col-md-3">
                            <h3>Legal</h3>
                               <p>Biggest legal firm in the world to provide advice on regulatory issues</p>
                                <p>KYC & AML/CTF services to meet regulatory standards</p>
                        </div>
                        <div class="col-md-12">
                            <h3>Executive Training</h3>
                               <p>Training catered for management to ensure smooth take-over of project after Tokensale </p>
                        </div>
                        <div class="col-md-12">
                            <h3>Partnerships</h3>
                               <p>Access to over 50+ global partners</p>
                                <p>Partners cherry picked and unique for different projects </p>
                        </div>
                        <div class="col-md-12">
                            <h3>Operations</h3>
                                   <p> Specialize in oversight for entity formation and Tokensale processes in order to ensure mission, marketing, technology and philosophy aligned </p>
                              
                        </div>
                    </div>
                    <!-- /.service-text -->
                      </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
     <div id="new-bg-inves" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">INVESTOR RELATIONS & PARTNERSHIPS</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                    <div class="portfolio-text marketcontent">
                        <div class="col-md-12">
                            <h3>Investor Meeting</h3>
                               <p>Arrangement of 1 to 1 investor meetings across Asia </p>
                                <p>Access to 200+ individuals and fund</p>
                        </div>
                        <div class="col-md-12">
                            <h3>On-board Advisors</h3>
                               <p>Prominent figures in the Financial and Token world</p>
                                <p>Arrangement of meetings with advisors to provide consultancy services</p>
                        </div>
                        <div class="col-md-12">
                            <h3>Global Roadshows</h3>
                               <p>Investor roadshows across Asia, UAE, NY, SF </p>
                                <p>Family Office events as well as Blockchain related events </p>
                        </div>
                    </div>
                    <!-- /.service-text -->
                      </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
     <div id="new-bg-tech" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">TECHNOLOGY SOLUTIONS</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                    <div class="portfolio-text marketcontent">
                        <div class="col-md-12">
                            <h3>Website</h3>
                               <p>Professional website with state-of-the-art security </p>
                            <p>Tokensale website with KYC/AML API integration</p>
                             
                        </div>
                        <div class="col-md-12">
                            <h3>Smart Contract</h3>
                               <p>ERC20 Universal standard for simple integration with exchanges and other services<p>
                                <p>Smart contract management system to simplify token holder’s experience after Tokensale</p>
                        </div>
                        <div class="col-md-12">
                            <h3>Code Audits</h3>
                               <p>Audit smart contracts and technical code with world renowned Tokensale auditing companies</p>
                                <p>Ensure security at the highest level </p>
                        </div>
                        <div class="col-md-12">
                            <h3>Air-drop & Referral Programs</h3>
                               <p>Customizable Airdrop platforms to personalized needs</p>
                               <p>Unique referral programs to encourage participants to refer friends</p>
                        </div>
                    </div>
                    <!-- /.service-text -->
                      </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-text">
                    <h2 class="wow fadeIn animated"><span>About</span> TokenAsia</h2>
                    <p class="wow fadeIn animated">TokenAsia is a one-stop turnkey platform for Businesses looking to generate  investment advisory using Blockchain in a digitally revolutionized world, changing the way we think about project financing and venture capital. TokenAsia is a single platform where the global token demands in blockchain technology are understood providing a customized solution for each. We help new generation companies in building their product on blockchain and sucessfully raised funding via Tokensale.</p>
                    <ul class="about-icons list-inline">
                        <li class="wow fadeIn animated">
                            <div class="icon"><img src="assets/images/icons/esta.png"></div>
                            <div class="text">Established 2016</div>
                        </li>
                       <!--  <li class="wow fadeIn animated">
                            <div class="icon"><img src="assets/images/icons/team.png"></div>
                            <div class="text">In-house Team</div>
                        </li> -->
                        <li class="wow fadeIn animated">
                            <div class="icon"><img src="assets/images/icons/quality.png"></div>
                            <div class="text">10+ Tokensales Launched</div>
                        </li>
                          <li class="wow fadeIn animated">
                            <div class="icon"><img src="assets/images/icons/global.png"></div>
                            <div class="text">Secure & Transparent</div>
                        </li>
                        <li class="wow fadeIn animated">
                            <div class="icon"><img src="assets/images/icons/ico.png"></div>
                            <div class="text">Global Presence</div>
                        </li>
                       <!--  <li class="wow fadeIn animated">
                            <div class="icon"><img src="assets/images/icons/secure.png"></div>
                            <div class="text">Quality & Efficiency</div>
                        </li> -->
                    </ul>
                </div>
                <div class="about-images">
                    <div class="mockup image-left">
                        <img class="wow fadeInLeft animated" src="assets/images/ipads-left.png" alt="ipad">
                    </div>
                    <div class="mockup image-center">
                        <img class="wow slideInUp animated" src="assets/images/ipads-center.png" alt="ipad">
                    </div>
                    <div class="mockup image-right">
                        <img class="wow fadeInRight animated" src="assets/images/ipads-right.png" alt="ipad">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="team" class="quote-section">
  <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 quote-headline text-center">
                <h4 class="wow fadeIn animated">TokenAsia simplifying <span>Crowdsale</span></h4>
                <!-- <div class="col-md-4 mg4 col-xs-12"> <img class="wow fadeIn animated" src="assets/images/lalaworld-logo.png" width="200" alt="lalaworld-logo"><br><br>
                Completed Project <br>LALA World - 15Mn+ USD raised</div>
                <div class="col-md-4 mg4 col-xs-12">ZCON - (Loyalty/Reward points based ICO Project looking to raise 60 Mn USD)</div>
                <div class="col-md-4 mg4 col-xs-12">SERC - (Renewable Energy Project)</div> -->

            </div>
            <div class="col-md-12 quote-bottom">
                <div class="container wow fadeIn animated">
                   <h3><span>Our</span> Team</h3>
                   <div class="row">
                        
                        <div class="col-md-2 col-md-offset-3 col-sm-6 col-xs-6 p0">
                         <div class="team-1-member"> <img alt="Team Member" class="background-image" src="assets/images/team/susheel.jpg">
                              <a href="https://www.linkedin.com/in/susheel-pathania-6557991" class="token_linkedin" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                             </a>
                                <h5>Susheel Pathania</h5>
                                <div class="phn-st nm">
                                    
                                    <div style="height: 8px;"></div>
                                    <!-- <span class="fchange">Ex-RechargeItNow, Bertelsmann, Teleperformance, Convergys </span> --></div>
                                <br>India
                            </div>
                            
                        </div> 
                         <div class="col-md-2 col-sm-6 col-xs-6 p0">
                            <div class="team-1-member"> <img alt="Team Member" class="background-image" src="assets/images/team/kevin.jpg">
                                <a href="https://www.linkedin.com/in/kevin-choo-429624151/" class="token_linkedin" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                             </a>
                                <h5>Kevin Choo</h5>
                                <div class="phn-st nm">
                                   
                                    <div style="height: 8px;"></div>
                                    <!-- <span class="fchange">Blockchain,<br> Cryptocurrency & ICO Expert <br></span> --></div>
                                <br>Singapore
                            </div>
                        </div> 
                       
                         <div class="col-md-2 col-sm-12 col-xs-12 p0">
                            <div class="team-1-member"> <img alt="Team Member" class="background-image" src="assets/images/team/clinton.jpg">
                                <a href="https://www.linkedin.com/in/clintonoleary/" class="token_linkedin" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                             </a>
                                <h5>Clinton O’ Leary</h5>
                                <div class="phn-st nm">
                                   
                                    <div style="height: 8px;"></div>
                                    <!-- <span class="fchange">Stealth Mode company, YVOLV, Canonical Ltd., Cisco<br></span> --></div><br>
                                    UAE
                                
                            </div>
                        </div> 
                        
                        <div class="col-md-3 col-sm-12 col-xs-12 p0"></div>
                       <!--  team end  --> 
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="services-section">
    <div class="container wow fadeIn animated">
     <h3><span>Our</span> Advisors</h3>
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-6 p0">
                            <div class="team-1-member"> <figure><img alt="Team Member" class="background-image" src="assets/images/team/sankalp.jpg"></figure>
                                 <a href="https://www.linkedin.com/in/sankalpshangari/" class="token_linkedin" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                             </a>
                                <h5>Sankalp Shangari</h5>
                                <div class="phn-st">
                                    <div style="height: 8px;"></div>
                                    <span class="fchange">Founder & CEO @ LALA World, Ex-JP Morgan, Deutsche Bank</span>
                                </div><br>
                                <br>Singapore
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-6 p0">
                            <div class="team-1-member"> <img alt="Team Member" class="background-image" src="assets/images/team/ranjit.jpg">
                                <a href="https://www.linkedin.com/in/ranjitlala/" class="token_linkedin" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                             </a>
                                <h5>Ranjit Kumar</h5>
                                <div class="phn-st">
                                    
                                    <div style="height: 8px;"></div>
                                    <span class="fchange">CRO @ LALA World, Ex-JCB, Polyplex, SYSCom, Genxpro</span></div><br>
                                <br>India
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-6 p0">
                            <div class="team-1-member"> <img alt="Team Member" class="background-image" src="assets/images/team/prakash.jpg">
                                <a href="https://www.linkedin.com/in/prakashsomo/" class="token_linkedin" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                             </a>
                                <h5>Prakash Somosundram</h5>
                                <div class="phn-st nm">
                                    <div style="height: 8px;"></div>
                                    <span class="fchange">Director @ XSQ,<br> Fintech Influencer <br></span></div><br>
                                <br>Singapore
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-6 p0">
                            <div class="team-1-member"> <img alt="Team Member" class="background-image" src="assets/images/team/nith.jpg">
                              <a href="https://www.linkedin.com/in/nithin-eapen-630367143/" class="token_linkedin" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                             </a>
                                <h5>Nithin Eapen</h5>
                                <div class="phn-st nm">
                                    <div style="height: 8px;"></div>
                                    <span class="fchange">CIO @ Arcadia<br> Crypto Ventures <br></span></div><br><br>
                                    United States
                                
                            </div>
                            
                        </div>
                         <div class="col-md-2 col-sm-6 col-xs-6 p0">
                         <div class="team-1-member"> <img alt="Team Member" class="background-image" src="assets/images/team/michael.jpg">
                         <a href="https://www.linkedin.com/in/mgord/" class="token_linkedin" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                             </a>
                            
                                <h5>Michael Gord</h5>
                                <div class="phn-st nm">
                               
                                    <div style="height: 8px;"></div>
                                    <span class="fchange">Founder & CEO @ MLG Blockchain Consulting <br></span></div><br><br>
                                    Toronto
                                
                            </div>
                           
                        </div>
                         <div class="col-md-2 col-sm-6 col-xs-6 p0">
                         <div class="team-1-member"> <img alt="Team Member" class="background-image" src="assets/images/team/cheng.jpg">
                         <a href="https://www.linkedin.com/in/ngchengwei/" class="token_linkedin" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                             </a>
                            
                                <h5>Cheng Wei Ng</h5>
                                <div class="phn-st nm">
                               
                                    <div style="height: 8px;"></div>
                                    <span class="fchange"> Ex-Lawyer, Techie,<br> Entrepreneur <br></span></div><br><br>
                                    Singapore
                                
                            </div>
                           
                        </div>
                        
        </div>
    </div>
</section>


